@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy Josué Camacho</h1>
    <h2>Soy un desarrollador full stack especializado en tecnologías .Net y JavaScript</h2>

    <img class="foto" src="~/imagenes/foto.jpg" alt="Foto de Josué"/>
</div>
